{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "parser": "babel-eslint",

  "plugins": ["react"],
  "extends": ["react-app", "airbnb"],
  "rules": {
    "semi": "off",
    "arrow-body-style": "off",
    "quotes": [0, "double", {"allowTemplateLiterals": true}], // specify whether backticks, double or single quotes should be used (fixable)
    "import/prefer-default-export": [1],
    "object-curly-spacing": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "func-names": ["error", "as-needed"],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/no-array-index-key": "off",
    "react/forbid-prop-types": "off",
    "quote-props": "off",
    "no-plusplus": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "radix": "off",
  }
}