@mixin iconLeftButton($icon) {
  &:before {
    margin-right: 5px;
    display: inline-block;
    content: $icon;
    font-weight: 700;
  }
}

@mixin iconRightButton($icon) {
  &:after {
    margin-left: 5px;
    display: inline-block;
    content: $icon;
    font-weight: 700;
  }
}

.btn {
  position: relative;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;

  &.link {
    border: none;
  }

  &:active {
    left: 1px;
    top: 1px;
  }

  &.icon-left {
    &.apply {
      @include iconLeftButton("\2714")
    }
    &.forward {
      @include iconLeftButton("\3e")
    }
    &.cancel {
      @include iconLeftButton("\D7")
    }
    &.back {
      @include iconLeftButton("\3c")
    }
    &.delete {
      @include iconLeftButton("\2612")
    }
    &.edit {
      @include iconLeftButton("\270E")
    }
  }

  &.icon-right {
    &.apply {
      @include iconRightButton("\2714")
    }
    &.cancel {
      @include iconRightButton("\D7")
    }
    &.forward {
      @include iconRightButton("\3e")
    }
    &.back {
      @include iconRightButton("\3c")
    }
    &.delete {
      @include iconRightButton("\2612")
    }
    &.edit {
      @include iconRightButton("\270E")
    }
  }

  &.settings {
    font-size: 20px;
    font-weight: 700;
  }
}