.fixations-with-slider {
  max-width: 1000px;
  margin: 0px auto;
  .sliders {
    margin-bottom: 25px;
  }

  .add-fixations-text {
    float: right;
  }
}

.fixations-toolbar {
  button {
    margin-right: 10px;
  }
}
