.fixations-with-slider {
  max-width: 1000px;
  margin: 0px;
  .sliders {
    margin-left: 0px;
    margin-bottom: 25px;
    .rc-slider {
      margin-left: 10px;
    }
  }

  .add-fixations-text {
    float: right;
  }
}

.fixations-toolbar {
  button {
    margin-right: 10px;
  }
}

.text-with-fixations {
  text-align: left;
  line-height: 26px;
  max-width: 1000px;
  margin: 10px 0px;
}

.line .left,
.line .left-space {
  float: left
}

.line .right {
  float: left;
}

.line .highlight {
  background: lightgreen;
}
