@import "variables";

.footer {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  border-top: 1px solid #eaeaea;

  footer {
    height: $footer-height;
    .navigation-footer {
      margin: 25px;
      li {
        text-align: center;
      }
    }
    .copyrights {
      display: flex;
      justify-content: flex-end;
      margin-right: 25px;
      color: #ababab;
    }
  }
}