@import "variables";

.footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: $sidebar-width + 20;
  border-top: 1px solid #eaeaea;

  footer {
    height: $footer-height;
    .navigation-footer {
      padding: 25px;
      li {
        text-align: center;
      }
    }
    .copyrights {
      display: flex;
      justify-content: flex-end;
      margin-right: 25px;
      color: #ababab;
    }
  }
}