.form-row {
	position: relative;
	width: 100%;
	margin: 10px 0px;
}

input[type="text"] {
	height: 2rem;
	padding: 0px 5px;
	width: 100%;
	margin: 5px 0px;
}

.form-control {
	line-height: 1.2rem;
}

div[contenteditable=true]{
	position: relative;
	min-height: 300px;
	max-height: calc(100vh - 150px);
	overflow: auto;
	padding: 10px !important;
}

.user-text-form {
	width: 100%;
	margin: 0px auto;
	height: 100%;
  button.save {
		float: right;
		margin-top: 10px;
  }
}