$navigationLinkColor: #eaeaea;

.header {
  background-color: #222;
  text-align: center;
  padding: 10px;
  color: white;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between
}

nav {
  height: auto;
  align-items: center;
  display: flex;
  li {
    margin-right: 10px;
    a {
      color: $navigationLinkColor;
      &:hover {
        color: darken($navigationLinkColor, 20%);
      }
    }
  }
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  float: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}