.navigation-top li {
  display: inline-block; }
  .navigation-top li a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 10px; }
    .navigation-top li a:hover, .navigation-top li a:active, .navigation-top li a:visited {
      color: gray;
      text-decoration: none; }

textarea {
  width: 100%;
  height: 100%;
  min-height: 350px;
  padding: 5px; }

button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff; }

button:disabled {
  display: none; }

button:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9; }

button:focus {
  outline: none; }

button:active {
  position: relative;
  top: 1px; }

div[contenteditable=true] {
  position: relative;
  min-height: 300px;
  max-height: calc(100vh - 150px);
  overflow: auto;
  border: 1px solid #dcdcdc;
  padding: 10px; }

.user-text-form {
  width: 100%;
  margin: 0px auto;
  height: 100%; }
  .user-text-form button.save {
    float: right;
    margin-top: 10px; }

article {
  text-align: left;
  max-width: 800px;
  margin: 25px auto 50px;
  font-size: 16px;
  line-height: calc(16px * 1.48);
  color: #333; }
  article title {
    font-size: 25px; }

.fixations-with-slider {
  max-width: 1000px;
  margin: 0px auto; }
  .fixations-with-slider .sliders {
    margin-bottom: 25px; }
  .fixations-with-slider .add-fixations-text {
    float: right; }

.fixations-toolbar button {
  margin-right: 10px; }

.schultz-table .cell {
  display: inline-block;
  line-height: 50px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  border: 1px solid #eaeaea; }

* {
  font-size: 14px; }

.clearfix {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.modal__content {
  padding-top: 10px; }

.modal__close-btn {
  border: none;
  padding: 2px;
  background: transparent;
  position: relative;
  z-index: 999999;
  top: -15px;
  right: -1px;
  float: right; }
  .modal__close-btn:active {
    top: -14px;
    padding: 0;
    margin: 0; }
