.navigation-footer li,
.navigation-top li {
  display: inline-block; }
  .navigation-footer li a,
  .navigation-top li a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 10px; }
    .navigation-footer li a:hover, .navigation-footer li a:active, .navigation-footer li a:visited,
    .navigation-top li a:hover,
    .navigation-top li a:active,
    .navigation-top li a:visited {
      color: gray;
      text-decoration: none; }

.navigation-footer {
  text-align: center; }

.user-private-link {
  text-align: center; }

.form-row {
  position: relative;
  width: 100%;
  margin: 10px 0px; }

input[type="text"] {
  height: 1.5rem; }

.form-control {
  line-height: 1.2rem; }

div[contenteditable=true] {
  position: relative;
  min-height: 300px;
  max-height: calc(100vh - 150px);
  overflow: auto;
  padding: 10px !important; }

.user-text-form {
  width: 100%;
  margin: 0px auto;
  height: 100%; }
  .user-text-form button.save {
    float: right;
    margin-top: 10px; }

article {
  text-align: left;
  max-width: 800px;
  margin: 25px auto 50px;
  font-size: 16px;
  line-height: calc(16px * 1.48);
  color: #333; }
  article title {
    font-size: 25px; }

.fixations-with-slider {
  max-width: 1000px;
  margin: 0px; }
  .fixations-with-slider .sliders {
    margin-left: 0px;
    margin-bottom: 25px; }
    .fixations-with-slider .sliders .rc-slider {
      margin-left: 10px; }
  .fixations-with-slider .add-fixations-text {
    float: right; }

.fixations-toolbar button {
  margin-right: 10px; }

.text-with-fixations {
  text-align: left;
  line-height: 26px;
  max-width: 1000px;
  margin: 10px 0px; }

.line .left,
.line .left-space {
  float: left; }

.line .right {
  float: left; }

.line .highlight {
  background: lightgreen; }
  .line .highlight .wrapper:hover {
    background: transparent; }

.line .wrapper:hover {
  background: lightblue;
  cursor: pointer; }

.schultz-table {
  position: relative;
  text-align: center; }
  .schultz-table .red-dot {
    color: red; }
  .schultz-table .table {
    position: relative; }
  .schultz-table .cell {
    display: inline-block;
    line-height: 50px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #eaeaea; }
  .schultz-table .middle-table-dot {
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 10px); }

.table-with-sliders {
  padding-top: 25px;
  text-align: center; }
  .table-with-sliders .sliders {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px; }
    .table-with-sliders .sliders .slider {
      flex-grow: 1;
      margin-right: 20px;
      margin-left: 20px; }
  .table-with-sliders .slider-title {
    margin: 10px 0px 0px -5px;
    text-align: left; }

.user-texts {
  max-width: 1000px;
  margin: 10px auto;
  text-align: left; }

* {
  font-size: 14px; }

#root,
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#root {
  position: relative; }

.clearfix {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.modal__content {
  padding-top: 10px; }

.modal__close-btn {
  border: none;
  padding: 2px;
  background: transparent;
  position: relative;
  z-index: 999999;
  top: -15px;
  right: -1px;
  float: right; }
  .modal__close-btn:active {
    top: -14px;
    padding: 0;
    margin: 0; }

.App {
  text-align: left;
  min-height: 100%;
  position: relative; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  float: left; }

.App-header {
  background-color: #222;
  text-align: center;
  padding: 10px;
  color: white;
  border-bottom: 1px solid #eaeaea; }

.App-intro {
  font-size: large; }

.App-body {
  width: 1000px;
  margin: 0px auto;
  height: 100%;
  padding-bottom: 100px; }

.App-footer {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  border-top: 1px solid #eaeaea;
  height: 100px; }
  .App-footer footer {
    position: relative;
    height: 100%; }
    .App-footer footer .copyrights {
      font-size: 12px;
      opacity: 0.4;
      position: absolute;
      bottom: 5px;
      right: 5px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.sidebar {
  margin-top: 50px;
  text-align: left; }
  .sidebar .text {
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc; }

.sliders {
  margin: 10px auto;
  max-width: 600px; }

.table {
  margin-top: 50px;
  margin-bottom: 50px; }

.correct {
  background: palegreen; }

.incorrect {
  background: darksalmon; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.text-container {
  max-width: 1000px;
  margin: 50px auto;
  text-align: left;
  line-height: 20px; }

.wrapper {
  position: relative;
  line-height: 20px; }

.show-bottom-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0px;
  background: white; }

.show-top-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: white; }
