@import "normalize";
@import "spinner";
@import "variables";
@import "breakpoints";
@import "sidebar";
@import "buttons";
@import "header";
@import "forms";
@import "articles";
@import "fixations";
@import "table";
@import "user-texts";
@import "modals";
@import "textsHelpers";
@import "editor";

$pageContentWidth: 800px;
$sidebarWidth: 200px;

* {
  font-size: $default-font-size
}

#root,
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit
}

#root {
  position: relative;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

ul, nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.modal__content {
  padding-top: 10px;
}

.modal__close-btn {
  border: none;
  padding: 2px;
  background: transparent;
  position: relative;
  z-index: 999999;
  top: -15px;
  right: -1px;
  float: right;
  &:active {
    top: -14px;
    padding: 0;
    margin: 0;
  }
}

.App {
  text-align: left;
  min-height: 100%;
  position: relative;
  min-width: 480px;
}

.App-body {
  padding-top: 50px;
  margin: 0px auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px; // height of the footer
  display: flex;
  justify-content: space-around;
  @include phone {
    flex-direction: column;
  }
}

.page-content {
  flex-grow: 1;
  padding: 10px;
  @include desktop {
    max-width: 800px;
  }
}

.App-footer {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  border-top: 1px solid #eaeaea;
  height: 100px;
  footer {
    position: relative;
    height: 100%;
    .copyrights {
      font-size: 12px;
      opacity: 0.4;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
}

.sliders {
  margin: 10px auto;
  max-width: 600px;
  @include tablet {
    max-width: 500px;
  }
}

.table {
  margin-top: 50px;
  margin-bottom: 50px;
}

.correct {
  background: palegreen;
}

.incorrect {
  background: darksalmon;
}

.text-container {
  margin: 50px auto;
  text-align: left;
  line-height: 20px
}

.wrapper {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}

.show-bottom-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0px;
  background: white;
}

.show-top-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: white;
}
