@import "normalize";
@import "spinner";
@import "variables";
@import "breakpoints";
@import "sidebar";
@import "buttons";
@import "header";
@import "footer";
@import "forms";
@import "articles";
@import "fixations";
@import "table";
@import "user-texts";
@import "modals";
@import "textsHelpers";
@import "editor";
@import "settings";

$pageContentWidth: 800px;
$sidebarWidth: 200px;

* {
  font-size: $default-font-size;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root,
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit
}

#root {
  position: relative;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

ul, nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.white {
  color: white;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.modal__content {
  padding-top: 10px;
}

.modal__close-btn {
  border: none;
  padding: 2px;
  background: transparent;
  position: relative;
  z-index: 999999;
  top: -15px;
  right: -1px;
  float: right;
  &:active {
    top: -14px;
    padding: 0;
    margin: 0;
  }
}

h1.with-help {
  display: flex;
  .help-portal {

  }
}

.App {
  text-align: left;
  position: relative;
  min-width: 480px;
  height: 100%;
}

.App-body {
  padding-top: 50px;
  margin: 0px auto;
  min-height: calc(100vh);
  display: flex;
  justify-content: space-between;
  @include phone {
    flex-direction: column;
  }
}

.page-content {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-left: $sidebar-width + 20px;
  padding-bottom: $footer-height;
  margin: 0px auto;
  @include desktop {
    max-width: 1000px;
  }
}

.sliders {
  margin: 10px auto;
  max-width: 600px;
  @include tablet {
    max-width: 500px;
  }
}

.no-bg {
  background: none;
}

.table {
  margin-top: 50px;
  margin-bottom: 50px;
}

.correct {
  background: palegreen;
}

.incorrect {
  background: darksalmon;
}

.text-container {
  margin: 50px auto;
  text-align: left;
  line-height: 20px
}

.wrapper {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}

.show-bottom-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0px;
  background: white;
}

.show-top-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: white;
}
