@import "normalize";
@import "variables";
@import "breakpoints";
@import "header";
@import "forms";
@import "articles";
@import "fixations";
@import "table";
@import "user-texts";

* {
  font-size: $default-font-size
}

#root,
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  position: relative;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

ul, nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

.modal__content {
  padding-top: 10px;
}

.modal__close-btn {
  border: none;
  padding: 2px;
  background: transparent;
  position: relative;
  z-index: 999999;
  top: -15px;
  right: -1px;
  float: right;
  &:active {
    top: -14px;
    padding: 0;
    margin: 0;
  }
}

.App {
  text-align: left;
  min-height: 100%;
  position: relative
}

.App-body {
  margin: 0px auto;
  height: 100%;

  @include desktop {
    max-width: 1000px;
  }

  @include tablet {
    max-width: 800px;
  }

  padding-bottom: 100px; // height of the footer
}

.App-footer {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  border-top: 1px solid #eaeaea;
  height: 100px;
  footer {
    position: relative;
    height: 100%;
    .copyrights {
      font-size: 12px;
      opacity: 0.4;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
}

.sidebar {
  margin-top: 50px;
  text-align: left;
  .text {
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: $default-border;
  }
}

.sliders {
  margin: 10px auto;
  max-width: 600px;
}

.table {
  margin-top: 50px;
  margin-bottom: 50px;
}

.correct {
  background: palegreen;
}

.incorrect {
  background: darksalmon;
}

.text-container {
  max-width: 1000px;
  margin: 50px auto;
  text-align: left;
  line-height: 20px
}

.wrapper {
  position: relative;
  line-height: 20px
}

.show-bottom-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0px;
  background: white;
}

.show-top-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: white;
}
