@import "variables";
@import "navigation";
@import "forms";
@import "articles";
@import "fixations";
@import "table";
@import "user-texts";

* {
  font-size: $default-font-size
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.modal__content {
  padding-top: 10px;
}

.modal__close-btn {
  border: none;
  padding: 2px;
  background: transparent;
  position: relative;
  z-index: 999999;
  top: -15px;
  right: -1px;
  float: right;
  &:active {
    top: -14px;
    padding: 0;
    margin: 0;
  }
}

.App {
  text-align: left;
  min-height: 100%;
  position: relative
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  float: left;
}

.App-header {
  background-color: #222;
  text-align: center;
  height: 40px;
  padding: 20px;
  color: white;
  border-bottom: 1px solid #eaeaea;
}

.App-intro {
  font-size: large;
}

.App-body {
  width: 1000px;
  margin: 0px auto;
  display: flex;
  height: 100%;
  padding-bottom: 100px; // height of the footer
  flex-direction: row;

  .sidebar {
    width: 200px;
    flex: 0 200px;
  }

  .content {
    flex: 1;
  }
}

.App-footer {
  border-top: 1px solid #eaeaea;
  height: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sidebar {
  text-align: left;
  .text {
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: $default-border;
  }
}


.sliders {
  margin: 10px auto;
  max-width: 600px;
}

.table {
  margin-top: 50px;
  margin-bottom: 50px;
}

.correct {
  background: palegreen;
}

.incorrect {
  background: darksalmon;
}

.red {
  color: red;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-container {
  max-width: 1000px;
  margin: 50px auto;
  text-align: left;
  line-height: 20px
}

.wrapper {
  position: relative;
  line-height: 20px
}

.show-bottom-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0px;
  background: white;
}

.show-top-letters {
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: white;
}

.edit-btn {
  font-size: 12px;
  padding: 2px 10px;
}
