.navigation-footer,
.navigation-top {
  li {
    display: inline-block;
    a {
      color: gray;
      text-decoration: none;
      display: block;
      padding: 10px;
      &:hover, &:active, &:visited {
        color: gray;
        text-decoration: none;
      }
    }
  }
}

.navigation-footer {
  text-align: center;
}

.user-private-link {
  text-align: center;
}