@import 'variables';
@import "breakpoints";

.sidebar {
  position: fixed;
  z-index: 2; //otherwise it would be overlapped by page-content
  top: 50px;
  height: calc(100vh - 50px);
  display: flex;
  width: $sidebar-width;
  flex-direction: column;
  text-align: left;
  flex-shrink: 0;
  padding: 10px;
  background: $sidebar-bg;
  color: #fff;

  &.absolute-expand,
  &.expanded {
    width: $sidebar-width !important;
    transition: width 0.5s;
  }

  &.absolute-collapsed,
  &.collapsed {
    width: 50px;
    transition: width 0.5s;
  }
}

.sidebar__button.btn {
  margin: 0px;
  padding: 0px;
}

.sidebar__button.btn i {
  position: absolute; 
}

.sidebar__button:before {
  font-size: 24px;
}

.sidebar__button-transition {
  transition-property: transform;
  transition-duration: 1s;
}

.sidebar__button--expanded {
  transform: rotate(180deg);
}

.sidebar__button--collapsed {
  transform: rotate(0deg);
}

.sidebar__navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  nav {
    display: flex;
    flex-direction: column;
  }
  button {
  }
}
