@import "breakpoints";

.sidebar {
  margin-top: 50px;
  text-align: left;
  width: 100%;
  @include desktop {
    min-width: 250px;
    max-width: 250px;
  }
  @include tablet {
    width: 200px;
    max-width: 200px;
  }
  @include phone {
    margin-top: 10px;
  }
}

.snippet {
  margin-bottom: 20px;

  h5 {
    margin: 5px 0px;
  }

  .snippet--text {
    cursor: pointer;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: $default-border;
  }

}