.schultz-table {
  position: relative;
  text-align: center;
  .red-dot {
    color: red;
  }
  .table {
    position: relative;
  }
  .cell {
    display: inline-block;
    $height: 50px;
    line-height: $height;
    width: $height;
    height: $height;
    font-size: 18px;
    border: 1px solid #eaeaea;
  }

  .middle-table-dot {
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 10px);
  }
}

.table-with-sliders {
  padding-top: 25px;
  text-align: center;
  .sliders {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    .slider {
      flex-grow: 1;
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .slider-title {
    margin: 10px auto 0px;
    text-align: left;
  }
}