.text-with-helpers {
  span {
    position: relative;
    display: inline-block;
    line-height: 20px;
    margin-right: 3px;
    &:hover {
      .bottom-half-text {
        background: rgba(255, 255, 255, 0.2);
      }
      .top-half-text {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .bottom-half-text {
    left: 0px;
    top: 0px;
    position: absolute;
    background: #fff;
    height: 10px;
    width: 100%;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  .top-half-text {
    left: 0px;
    bottom: 0px;
    position: absolute;
    background: #fff;
    height: 10px;
    width: 100%;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.changelog-texts__header,
.help-texts__header,
.default-texts__header,
.user-texts__header {
  padding: 2px 5px;
  background: #eaeaea;
  display: flex;
  h2 {
    margin: 0px;
    line-height: 30px;
    flex-grow: 1;
  }
  a,
  button {
    line-height: 30px;
  }
  .new-text {
    line-height: 30px;
  }
}