.text-with-helpers {
  span {
    position: relative;
    display: inline-block;
    line-height: 20px;
    margin-right: 3px;
    &:hover {
      .bottom-half-text {
        background: rgba(255, 255, 255, 0.2);
      }
      .top-half-text {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .bottom-half-text {
    left: 0px;
    bottom: 0px;
    position: absolute;
    background: #fff;
    height: 10px;
    width: 100%;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  .top-half-text {
    left: 0px;
    top: 0px;
    position: absolute;
    background: #fff;
    height: 10px;
    width: 100%;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}