@import './variables';
.default-texts,
.user-texts {
  max-width: 1000px;
  margin: 10px auto;
  text-align: left;

  input {
    width: 100%;
    border: $default-border;
    border-radius: 3px;
    padding: 15px 10px;
  }
  .editor {
    padding: 5px;
  }
}

.default-texts__header,
.user-texts__header {
  padding: 2px 5px;
  background: #eaeaea;
  margin-top: 25px;
  display: flex;
  h2 {
    margin: 0px;
    line-height: 30px;
    flex-grow: 1;
  }
  a,
  button {
    line-height: 30px;
  }
  .new-text {
    line-height: 30px;
  }
}